@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Manrope&display=swap');

body {
    margin: 0;
    padding: 0;
}
.contaner {
    max-width: 1240px;
    margin: 0 auto;
}
.head {
    background-color: #03174c;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-width: 1440px;
    font-family: 'Manrope', sans-serif;
}
.logo {
    width: 175px;
    height: 25px;
}
h1, h2, h3, h4 {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
}
.head a {
    display: block;
    color: aliceblue;
}
ul li {
    display: block;
    margin: 0;
    padding: 0;
}
.menu {
    display: flex;
    list-style: none;
    margin-left: 130px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.menu li {
    margin-right: 45px;
}
.menu li a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Manrope' sans-serif;
}
.nav {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.menu_2 li {
    margin-right: 45px;
}
.menu_2  li a {
    text-decoration: none;
    font-size: 18px;
}
.menu_2 {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
.main {
    background-image: url('banner.png');
    width: 1440px;
    height: 775px;
    margin: 0 auto;
    position: absolute;
}
.advice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: gray;
    width: 900px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 220px;
    border-radius: 20px;
}
.advice h1 {
    color: #fff;
    font-size: 45px;
    margin-bottom: 20px;
}
.desc {
    color: #03174c;
    font-size: 30px;
    margin-bottom: 20px;
}
.description {
    margin-bottom: 15px;
}
.btn button {
    width: 350px;
    height: 70px;
    display: block;
    background: #fe6508;
    color: #fff;
    font-size: 18px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 90px;
    transition: all 0.5s ease;
}
.btn button:hover {
    background: #03174c;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 900px;
    margin-bottom: 100px;
    font-family: 'Manrope',sans-serif;
}
h2 {
    font-size: 38px;
    border-bottom: 1px solid;
    width: 300px;
    border-color: #6086ee;
    margin-bottom: 40px;
    text-align: center;
}
.content {
    background-color: #161616;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 1440px;
    font-family: 'Manrope', sans-serif;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}
h3 {
    font-size: 28px;
    margin-bottom: 50px;
}
p {
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    line-height: 25px;
    font-weight: 400;
}
.btn_2 button {
    width: 350px;
    height: 70px;
    display: block;
    background: #fe6508;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    margin-top: 70px;
    transition: all 0.5s ease;
}
.btn_2 button:hover {
    background: #fff;
    color: #161616;
}
.description_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.classes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 130px;
    margin-bottom: 70px;
    font-family: 'Manrope', sans-serif;
}
.item_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h4 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.foto_1 {
    margin-bottom: 30px;
    width: 375px;
    height: 375px;
}
.main_classes {
    display: flex;
    justify-content: space-between;
}
.foto_2 {
    margin-bottom: 30px;
    width: 375px;
    height: 375px;
}
.item_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.foto_3 {
    margin-bottom: 30px;
    width: 375px;
    height: 375px;
}
.item_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn_3 button {
    width: 350px;
    height: 70px;
    display: block;
    background: #fe6508;
    color: #fff;
    font-size: 18px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 70px;
    margin-bottom: 120px;
    transition: all 0.5s ease;
}
.btn_3 button:hover {
    background: #03174c;
}
.up_level {
    background-image: url('img_4.png');
    width: 1440px;
    height: 570px;
    margin: 0 auto;
    position: absolute;
    color: #fff;
    padding-top: 90px;
}
.btn_4 button {
    width: 350px;
    height: 70px;
    display: block;
    background: #fe6508;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    margin-top: 60px;
    transition: all 0.5s ease;
}
.btn_4 button:hover {
    background: #fff;
    color: #161616;
}
.beginner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #161616;
    width: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
}
.premium {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #03174c;
    width: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
}
.beginner_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #161616;
    width: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
}
.plans {
    display: flex;
    justify-content: space-between;
}
.btn_5 button {
    width: 220px;
    height: 70px;
    display: block;
    background: #03174c;
    color: #fff;
    font-size: 18px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border-radius: 20px;
    margin-bottom: 120px;
    transition: all 0.5s ease;
}
.btn_5 button:hover {
    background: #fe6508;
}
.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px;
    font-family: 'Manrope', sans-serif;
}
form {
    display: flex;
    flex-direction: column;
    background-image: url('contact.png');
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 70px;
}
.first_input {
    display: inline-block;
    background: none;
    width: 400px;
    color: #767676;
    font-size: 16px;
    border: none;
}
.first_input:focus {
    background: #f0f0f0;
    outline: none;
    color: black;
}
hr {
    border-color: #f7f7f7;
    margin-top: 10px;
}
.second_input {
    display: inline-block;
    background: none;
    width: 400px;
    color: #767676;
    font-size: 16px;
    border: none;
}
.second_input:focus {
    background: #f0f0f0;
    outline: none;
    color: black;
}
.third_input {
    display: inline-block;
    background: none;
    width: 400px;
    color: #767676;
    font-size: 16px;
    border: none;
}
.third_input:focus {
    background: #f0f0f0;
    outline: none;
    color: black;
}
.btn_6 button {
    width: 200px;
    height: 70px;
    display: block;
    background: #fff;
    color: black;
    font-size: 18px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    border-radius: 20px;
    margin-bottom: 70px;
    transition: all 0.5s ease;
}
.btn_6 button:hover {
    background: #fe6508;
}
.line {
    border-color: #f7f7f7;
    width: 1440px;
    margin: 0;
    padding: 0;
}
.footer {
    background: #03174c;
    width: 1440px;
    padding-top: 70px;
}
ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.map {
    display: flex;
    align-items: center;
    color: #f0f0f0;
}
.phone_1 {
    display: flex;
    align-items: center;
}
.phone_1 a {
    color: #f0f0f0;
    text-decoration: none;
}
.post {
    display: flex;
    align-items: center;
    color: #f0f0f0;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.social {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.social li {
    margin-right: 15px;
}
.rights {
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding-bottom: 70px;
}
